<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-deeppink border-bottom box-shadow mb-5">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-brand" [routerLink]='["/"]'><img id="logo" class="img-fluid" src="./assets/images/logo-icon.png" alt=""></a>
      </div>

      <div class="nav-item-container">
        <div class="navbar-brand ">
          <select class="form-control navbar-brand" id="select_taxonomy">
            <option value="deo" id="1" disabled selected hidden href="#">DIGITAL EDITORIAL OFFICE</option>
            <option value="deo" id="2" href="#">Digital Editorial Office</option>
            <option value="nessie" id="3" href="#">Nessie</option>
            <option value="controlroom" id="4" href="#">Control Room</option>
          </select>
        </div>
        <a class="navbar-brand " href="#">MANUSCRIPT</a><b></b>
        <a class="navbar-brand " href="#">RESEARCH TOPIC</a>
        <a class="navbar-brand " href="#">EDITORS</a>
        <a class="navbar-brand " href="#">BOARD INVITATIONS</a>
        <a class="navbar-brand " href="#">REGISTERED USERS</a>
        <div class="navbar-brand">
          <select class="form-control-file navbar-brand" id="select_more">
            <option value="more" disabled selected hidden>MORE</option>
            <option value="journals" href="#">JOURNALS</option>
          </select>
        </div>

        <div class="navbar-brand navbar-nav">

          <div class="navbar-brand-select ">
            <a class="navbar-brand" href="#">MY FRONTIERS</a>
            <select class="form-control-file navbar-brand" id="select_taxonomy">
              <option value="deo" id="1" disabled selected hidden href="#">OFFICE</option>
              <option value="deo" id="2" href="#">EOF</option>
              <option value="nessie" id="3" href="#">POF</option>
              <option value="controlroom" id="4" href="#">TSOF</option>
              <option value="deo" id="2" href="#">EVOF</option>
              <option value="nessie" id="3" href="#">BOF</option>
              <option value="controlroom" id="4" href="#">COMOF</option>
              <option value="nessie" id="3" href="#">CONFIG</option>
              <option value="controlroom" id="4" href="#">AOF</option>
            </select>
          </div>

        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }">

        </div>
        <div class="navbar-brand-item">
          <a class="navbar-brand" [routerLink]='["/"]'><img id="logo" class="img-fluid" src="./assets/images/profile-logo" alt=""></a>
        </div>
      </div>
      </div>
    
    
  </nav>
</header>
