
<div class="main-container">
  <div class="border-filter">
    <span class="filter">Filter by</span>
    <br>
    <select class="form-control">
      <option value="0">All users</option>
      <option value="1">Reviewers</option>
      <option value="2">Manuscript authors</option>
      <option value="3">Deactivated accounts</option>
      <option value="4">Non-activated accounts</option>
      <option value="5">Authors with Manuscript(s)  in review</option>
    </select>
  </div>
  <div class="border-order">
    <span class="order">Order by</span>
    <br>

    <select class="form-control">
      <option value="0">Alphabetical (Last Name)</option>
      <option value="1">Oldest registration</option>
      <option value="2" selected="selected">Newest registration</option>
    </select>

    <input type="button" class=" filter-btn " value=" Clear filters ">

  </div>
</div>


<div class="registered-users-list">

  <div class="main-field">
    <div class="search-field">
      <form role="form" class=" =search-field">
        <input type="text" class="search-field search-area" id="search" placeholder="Search by name, user id or email address">
        <div class=" btns-search">
          <button type="submit" class="btn-search" id="search-box-button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div><br />
    <div class="search-results">
      <input type="checkbox" class="users-found">
      <span class="txt-color">1-10 of 568,361 user(s) found</span>
    </div>
  </div>
  <div>

  </div>

  <div class="container-select">
    <div class="paper">
      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />  Author
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>
      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>
      <h3 class="teaser-title">
        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>
      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>1 </strong>submission
          </div>
        </div>
      </div>
      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>



  <div class="container-select">
    <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>


  <div class="container-select">
    <div class="select" data-registereduser-id="1143191"><div class="pick"></div></div>
    <div class="paper active mq-active" data-registereduser-id="1143191">
      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />  Author
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>
      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>
      <h3 class="teaser-title">
        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>
      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>1 </strong>submission
          </div>
        </div>
      </div>
      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>



  <div class="container-select">
    <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>


  <div class="container-select">
    <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>



  <div class="container-select">
    <div class="select" data-registereduser-id="1143186"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143186">

      <div class="teaser-article-type">
        <input type="checkbox" class="users-found" />Assistant Field Chief Editor
        <div class="pull-right">
          <span class="teaser-date">Joined date<br>27/04/2020</span>
        </div>
      </div>

      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo" />
      </a>
      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Search2020-04-27 AutomationUserMiddleName User
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">

            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>
      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>


  <div class="container-select">
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>


  <div class="container-select">
    <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>


  <div class="container-select">
    <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>


  <div class="container-select">
    <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
    <div class="paper" data-registereduser-id="1143190">

      <div class="teaser-article-type ">
        <input type="checkbox" class="users-found" />Registered user
        <div class="pull-right">
          <span class="teaser-date">Registration date<br>28/04/2020</span>
        </div>
      </div>


      <a href="#">
        <img class="profile-img" src="./assets/images/profile-logo">
      </a>

      <h3 class="teaser-title">

        <a href="#" class="teaser-title">
          Automation First Name Automation Middle Name Automation Last Name
        </a>

      </h3>
      <p class="teaser-authors">

        TES International (United States)<br>

      </p>
      <div class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong>0 </strong>editing assignments
            <strong>0 </strong>review assignments
            <strong>0 </strong>submissions
          </div>
        </div>
      </div>

      <a href="#" class="btn-profile">
        <i class="fa fa-arrow-right"></i>View card
      </a>
    </div>
  </div>
</div>

<div class=" profile-card">
  <div class="profile-area">
    <div class="user-id">
      <span class="user-id">USER ID: 1143191</span>
    </div>

    <div class="dropdown-menu">
      <select class="form-control-item" id="select_taxonomy">
        <option value="deo" class="option-color" id="1" disabled selected hidden>User Actions</option>
        <option value="deo" class="option-color" id="2" href="#">Compose message to User</option>
        <option value="nessie" class="option-color" id="3" href="#">View Activity</option>
        <option value="controlroom" class="option-color" id="4" href="#">Enter Account</option>
        <option value="nessie" id="3" class="option-color" href="#">View Comment</option>
        <option value="controlroom" class="option-color" id="4" href="#">Deactivate Account</option>
      </select>

    </div>
    <div class="button-area">
      <button href="#" class=" btn-nav-prev">
        <i class="fa fa-chevron-left"></i>Prev.
      </button>
      <button href="#" class=" btn-nav-next">
        Next<i class=" fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>



