<div class="profile-card-area">
  <div class="profile-header">
    <div class="media profile">
      <div class="media-left">
        <img alt="" class="profile-area-image" src="./assets/images/profile-logo">
      </div>
      <div class="media-body">
        <h2 class="media-heading">

          <a href="#" class="font-color">
            Automation First Name Automation Middle Name Automation Last Name
          </a>

          <span class="bg-cyan label"></span>
          <span class="bg-orange label"></span>
        </h2>
        <div class="list-unstyled">
          <p class="lead">

            TES International (United States)<br>

            Troy, United States
          </p>
          <p class="email">
            <a href="#" class="email-style">
              <i class="fa fa-envelope-o"></i>automationuser081320@vialoopregistration.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="media roles">
          <div class="media-body">
            <div class="list-unstyled">
              EDITOR'S ROLES
              <p class="role">
                <strong class="role">No active role</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-footer">
    <div class="row editor-numbers">
      <div class="row1">
        <p>
          <span class="nowrap"><span class="tot-number">0</span><span class="number-label">EDITING ASSIGNMENTS</span></span>
        </p>
        <p>
          <span class="nowrap"><strong class="number bg-cyan">0</strong>Current</span>
          <span class="nowrap"><strong class="number inverse">0</strong>Completed</span>
        </p>
      </div>
      <div class="row1">
        <p>
          <span class="nowrap">
            <span class="tot-number">0</span>
            <span class="number-label">REVIEW ASSIGNMENTS</span>
          </span>
        </p>
        <p>
          <span class="nowrap"><strong class="number bg-cyan">0</strong>Current</span>
          <span class="nowrap"><strong class="number inverse">0</strong>Endorsed</span><br />
          <span class="nowrap"><strong class="number inverse">0</strong>Withdrew or Recommended rejection</span>

        </p>
      </div>
      <div class="row1">
        <p>
          <span class="nowrap"><span class="tot-number">1</span><span class="number-label">SUBMISSION</span></span>
        </p>
        <p>
          <span class="nowrap"><strong class="number bg-cyan">0</strong>In review</span><br />
          <span class="nowrap"><strong class="number bg-cyan">1</strong>Initial validation</span><br />
          <span class="nowrap"><strong class="number inverse">0</strong>Accepted</span>
          <span class="nowrap"><strong class="number inverse">0</strong>Rejected</span>
        </p>
      </div>
    </div>
    <div class="row editor-numbers">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <p>
          <span class="nowrap"><span class="tot-number">0</span><span class="number-label">BOARD INVITATIONS</span></span>
        </p>
        <p>
          <span class="nowrap"><strong class="number bg-cyan">0</strong>Accepted</span>
          <span class="nowrap"><strong class="number inverse">0</strong>Pending</span><br />
          <span class="nowrap"><strong class="number inverse">0</strong>Declined</span>
          <span class="nowrap"><strong class="number inverse">0</strong>Revoked</span><br />
          <span class="nowrap"><strong class="number inverse">0</strong>Removed from board</span>

        </p>
      </div>
    </div>
  </div>
</div>
