<div class="profile-area">
  <section class="user-id">
    <span class="user-id">USER ID: {{userTile.id}}</span>
  </section>
  <section class="dropdown-menu">
      <select class="form-control-item" id="select_taxonomy">
        <option value="deo" class="option-color" id="1" disabled selected hidden>User Actions</option>
        <option value="deo" class="option-color" id="2" href="#">Compose message to User</option>
        <option value="nessie" class="option-color" id="3" href="#">View Activity</option>
        <option value="controlroom" class="option-color" id="4" href="#">Enter Account</option>
        <option value="nessie" id="3" class="option-color" href="#">View Comment</option>
        <option value="controlroom" class="option-color" id="4" href="#">Deactivate Account</option>
      </select>
  </section>
  <section class="button-area">
      <button href="#" class=" btn-nav">
        <i class="fa fa-chevron-left"></i>Prev.
      </button>
      <button href="#" class=" btn-nav">
        Next<i class=" fa fa-chevron-right"></i>
      </button>
  </section>
</div>
<!--profile-area-->
<div class="profile-card-area">
  <div class="profile-header">
    <div class="media profile">
      <section class="media-left">
        <img alt="" class="profile-area-image" src="./assets/images/profile-logo">
      </section>
      <section class="media-body">
        <h2 class="media-heading">

          <a href="#" class="font-color">
            {{userTile.firstName}} {{userTile.middleName}} {{userTile.lastName}}
          </a> 

        </h2>
        <div class="list-unstyled">
          <p class="lead">

            {{userTile.author}}<br>

            {{profileTile.place}}
          </p>
          <p class="email">
            <a href="#" class="email-style">
              <i class="far fa-envelope"></i><span> {{profileTile.mail}}</span>
            </a>
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="profile-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="media roles">
          <div class="media-body">
            <div class="list-unstyled">
              EDITOR'S ROLES
              <p class="role">
                <strong class="role">No active role</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--profile-footer-->
  <div class="profile-footer-area">
    <div class="profile-footer">
      <section class="row editor-numbers">
        <ul class="row1">
          <li>
            <span class="nowrap"><span class="tot-number">{{userTile.editingAssignments}}</span><span class="number-label">EDITING ASSIGNMENTS</span></span>
          </li>
          <li>
            <span class="nowrap"><strong class="number bg-cyan">{{profileTile.current}}</strong>Current</span>
            <span class="nowrap"><strong class="number inverse">{{profileTile.completed}}</strong>Completed</span>
          </li>
        </ul>
      </section>
      <section class="row editor-numbers">
        <ul class="row1">
          <li>
            <span class="nowrap">
              <span class="tot-number">{{userTile.reviewAssignments}}</span>
              <span class="number-label">REVIEW ASSIGNMENTS</span>
            </span>
          </li>
          <li>
            <span class="nowrap"><strong class="number bg-cyan">{{profileTile.current}}</strong>Current</span>
            <span class="nowrap"><strong class="number inverse">{{profileTile.endose}}</strong>Endorsed</span><br />
            <span class="nowrap"><strong class="number inverse">{{profileTile.reject}}</strong>Withdrew or Recommended rejection</span>

          </li>
        </ul>
      </section>
      <section class="row editor-numbers">
        <ul class="row1">
          <li>
            <span class="nowrap"><span class="tot-number">{{userTile.submission}}</span><span class="number-label">SUBMISSION</span></span>
          </li>
          <li>
            <span class="nowrap"><strong class="number bg-cyan">{{profileTile.review}}</strong>In review</span><br />
            <span class="nowrap"><strong class="number bg-cyan">{{profileTile.validation}}</strong>Initial validation</span><br />
            <span class="nowrap"><strong class="number inverse">{{profileTile.accept}}</strong>Accepted</span>
            <span class="nowrap"><strong class="number inverse">{{profileTile.rejected}}</strong>Rejected</span>
          </li>
        </ul>
      </section>
    </div>
      <section class="row editor-numbers-list">
        <ul class="row2">
          <li>
            <span class="nowrap"><span class="tot-number">{{profileTile.boardInvitation}}</span><span class="number-label">BOARD INVITATIONS</span></span>
          </li>
          <li>
            <span class="nowrap"><strong class="number bg-cyan">{{profileTile.accepted}}</strong>Accepted</span>
            <span class="nowrap"><strong class="number inverse">{{profileTile.pending}}</strong>Pending</span><br />
            <span class="nowrap"><strong class="number inverse">{{profileTile.decline}}</strong>Declined</span>
            <span class="nowrap"><strong class="number inverse">{{profileTile.revoke}}</strong>Revoked</span><br />
            <span class="nowrap"><strong class="number inverse">{{profileTile.remove}}</strong>Removed from board</span>

          </li>
        </ul>
      </section>
  </div>
</div>
