
.profile-area {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 6px;
 
}
.user-id {
  font-size: small;
  color: dimgrey;
  align-self: center;
}
.form-control-item {
  border-radius: 23px;
  padding: 8px 0px 7px 4px;
  width: 103px;
  color: white;
  background-color: #d54449;
  border: none;
  cursor: pointer;
}
.form-control-item:hover {
   background-color: indigo;
}
button.btn-nav {
  padding: 6px 8px 4px 8px;
  border-radius: 16px;
  background-color: #fff;
  color: #d54449;
  border: none;
  cursor: pointer;
  margin:2px;
}
.option-color {
  background-color: white;
  color: dimgrey;
}



.media.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 36px 51px 6px 0px;
}
.profile-card-area {
  box-shadow: 0 5px 29px 9px rgba(0,0,0,0.2);
  background-color: white;
  margin: 40px;
}

.profile-body {
  padding: 26px 15px 0px 39px;
  background-color: white;
  font-size: 13px;
  color: #bfbaba;
  border-top: 1px solid #cec8c8;
  margin:20px;
}

h2.media-heading {
  font-size: xx-large;
}

img.profile-area-image {
  cursor: pointer;
}

a.font-color {
  color: black;
  text-decoration: none;
}

a.font-color:hover {
  color: #d54449;
}

p.lead {
  font-size: 23px;
  color: dimgray;
}

a.email-style {
  text-decoration: none;
  color: #757575;
}

strong.role {
  color: dimgray;
}
/*footer*/

.profile-footer {
  display:flex;
}
span.tot-number {
  padding: 5px;
}

.profile-footer-area {
  background-color: #f7f6f6;
}
.row1>li{
display:inline-block;
margin: 5px 5px;
}
.row2 {
  list-style: none;
  display: inline-block;
}
span.nowrap {
  margin: 5px;
}
strong.number.inverse {
  border-radius: 50%;
  padding: 0px 7px 0px 9px;
  background: #ffffff;
  text-align: center;
}

strong.number.bg-cyan {
  border-radius: 50%;
  padding: 0px 7px 0px 9px;
  background: #81c7c7;
  text-align: center;
}
