<div class="login-container">
  <section class="logo-section">
    <div class="img-size">
      <a><img class="nav-height" src="./assets/images/logo-icon.png" alt=""></a>
    </div>

    <div class="heading">
      <h1 class="heading-size">Frontiers</h1>
    </div>
  </section>
  <div class="login-center">
    <section class="login-area">
      <div class="heading-login">
        <div class="center-aline">
          <h3 class="heading-adjust">Login</h3>
          <p class="external-login">
            <span class="txt-color">
              with
              <a class="color" href="https://www.facebook.com/">Facebook</a>,
              <a class="color" href="https://www.linkedin.com/login">Linkedin</a> or
              <a class="color" href="https://twitter.com/login">Twitter</a>
            </span>
          </p>
          <div class="hr-word">
            <h5 class="word">
              Or
            </h5>
          </div>
          <form class=" aline-width">
            <section class="txt-aline">
              <input type="email"
                     name="email"
                     [(ngModel)]="email"
                     placeholder="Email*"
                     class="padding-input"
                     id="email" />
            </section>

            <section class="txt-aline">
              <input type="password"
                     name="password"
                     [(ngModel)]="password"
                     placeholder="password*"
                     class="padding-input"
                     id="password" />
              <button type="submit"
                      class="btn-password"
                      id="button"
                      (click)="onSubmit()">

                <i id="pass-status" class="fa fa-eye" aria-hidden="true" (Click)="viewPassword()"></i>
              </button>
            </section>
            <div class="check-area">
              <section class="color-text  ">
                <input type="checkbox" class="users-found" /> Remember me
              </section>
              <section><a class="color" href="#">Forget password</a></section>

            </div>
            <section class="button-aline">
              <button (click)="onSubmit()" class="button">Login</button>
            </section>
            <div class="check-registration">
              <section>
                <a class="color-text">Not a member yet? </a>
              </section>
              <section>
                <a class="color" href="#">Register</a>
              </section>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <section class="footer-content">
    <a class="txt-color aline">Frontiers In and Loop are registered trade marks of Frontiers Media SA.</a> <br />
    <a class="txt-color ">
      © Copyright 2007-2020 Frontiers Media SA. All rights reserved -
    </a>
    <a class="color" href="#">Terms and Conditions</a>
  </section>
</div>

