<div class="container-select">
  <div class="paper">
    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />  Author
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>
    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>
    <h3 class="teaser-title">
      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>
    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>1 </strong>submission
        </div>
      </div>
    </div>
    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>



<div class="container-select">
  <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>

    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>


<div class="container-select">
  <div class="select" data-registereduser-id="1143191"><div class="pick"></div></div>
  <div class="paper active mq-active" data-registereduser-id="1143191">
    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />  Author
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>
    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>
    <h3 class="teaser-title">
      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>
    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>1 </strong>submission
        </div>
      </div>
    </div>
    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>



<div class="container-select">
  <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>

    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>


<div class="container-select">
  <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>

    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>



<div class="container-select">
  <div class="select" data-registereduser-id="1143186"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143186">

    <div class="teaser-article-type">
      <input type="checkbox" class="users-found" />Assistant Field Chief Editor
      <div class="pull-right">
        <span class="teaser-date">Joined date<br>27/04/2020</span>
      </div>
    </div>

    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo" />
    </a>
    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Search2020-04-27 AutomationUserMiddleName User
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">

          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>
    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>


<div class="container-select">
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>
    <h3 class="teaser-title">
      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>
    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>


<div class="container-select">
  <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>

    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>


<div class="container-select">
  <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>

    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>


<div class="container-select">
  <div class="select" data-registereduser-id="1143190"><div class="pick"></div></div>
  <div class="paper" data-registereduser-id="1143190">

    <div class="teaser-article-type ">
      <input type="checkbox" class="users-found" />Registered user
      <div class="pull-right">
        <span class="teaser-date">Registration date<br>28/04/2020</span>
      </div>
    </div>


    <a href="#">
      <img class="profile-img" src="./assets/images/profile-logo">
    </a>

    <h3 class="teaser-title">

      <a href="#" class="teaser-title">
        Automation First Name Automation Middle Name Automation Last Name
      </a>

    </h3>
    <p class="teaser-authors">

      TES International (United States)<br>

    </p>
    <div class="review-info">
      <div class="row">
        <div class="col-xs-12">
          <strong>0 </strong>editing assignments
          <strong>0 </strong>review assignments
          <strong>0 </strong>submissions
        </div>
      </div>
    </div>

    <a href="#" class="btn-profile">
      <i class="fa fa-arrow-right"></i>View card
    </a>
  </div>
</div>
