

.main-field {
  background: #fff;
  border: 1px solid #e0dddc;
  padding: 13px 21px 24px 41px;
}
.main-field:hover {
    background-color: lightgray;
  }
.article-type {
  display: flex;
  justify-content: space-between;
}
.user-card-area {
  display: flex;
}
img.profile-img {
  max-height: 59px;
  border-radius: 2px;
}

section.name-area {
  margin-left: 20px;
}

strong.strong {
  margin: 7px;
}


section.user-card-details {
  align-self: center;
}

a.btn-profile {
  text-decoration: none;
  color: #d54449;
}

section.view-button {
  float: right;
}

h3.teaser-title {
  font-size: large;
}

p.teaser-authors {
  color: dimgrey;
}

.review-info {
  color: dimgrey;
 
}

a.teaser-title {
  text-decoration: none;
  color: black;
}

  a.teaser-title:hover {
    color: #d54449;
  }
