<div class="main-field" *ngFor="let userTile of users" (click)="profileDetail(userTile.id)">
  <div class="paper">
    <div class="article-type">
      <section class="teaser-article-type ">
        <input type="checkbox" class="users-found" />  {{userTile.articleType}}
      </section>
      <section class="pull-right">
        <span class="teaser-date">Registration date<br>{{userTile.registrationDate}}</span>
      </section>
    </div>
    <div class="user-card-area">
      <section class="user-card-details">
        <a href="#">
          <img class="profile-img" src="./assets/images/profile-logo">
        </a>
      </section>
      <section class="name-area">
        <h3 class="teaser-title">
          <a href="#" class="teaser-title">
            {{userTile.firstName}} {{userTile.middleName}} {{userTile.lastName}}
          </a>
        </h3>
        <p class="teaser-authors">

          {{userTile.author}}<br>

        </p>
      </section>
    </div>
      <section class="review-info">
        <div class="row">
          <div class="col-xs-12">
            <strong class="strong">{{userTile.editingAssignments}} </strong>editing assignments
            <strong class="strong">{{userTile.reviewAssignments}}</strong>review assignments
            <strong class="strong" >{{userTile.submission}}</strong>submission
          </div>
        </div>
      </section>
      <section class="view-button">
        <a href="#" class="btn-profile">
          <i class="fa fa-arrow-right"></i>View card
        </a>
      </section>
  </div>
</div>

