.flex {
  display: flex;
  background-color:white;
}
nav.flex.space-between.nav-height {
  box-shadow: 0 0px 8px 0px rgba(0,0,0,0.2);
  margin: -9px -15px -2px -14px;
}
.flex.space-between {
  justify-content: space-between;
}

.tabs-container > li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

a.tabs-color {
  color: black;
  text-transform: uppercase;
  font-size: small;
}

img.nav-height {
  height: 40px;
  margin: 5px;
}

.nav-height {
  height: 50px;
}

select.more {
  width: 70px;
  margin: 18px; 
}

.no-border {
  border: none;
}

.nav-adjust {
  align-self: center;
}
/*profile drop down*/

/*.profile-wrapper {
  width: 270px;
  height: 186px;
  border: 1px solid #bababa;
  z-index: 1;
  float: right;
  background: white;
  display: none;
}

.check-btn {
  display: none;
}

#profile-pic-check:checked + .profile-wrapper {
  display: block;
}


.user-name {
  font-weight: 700;
}

.email {
  font-size: 13px;
}

.header-wrapper {
  border-bottom: 1px solid #e0e0e0;
  padding: 5px;
}

ul.ibar-user-level {
  cursor: pointer;
  display: block;
  padding: 0px;
  font-size: 13px;
  list-style-type: none;
  align-self: auto;
}

.ibar-user-level > li {
  padding: 5px;
}

  .ibar-user-level > li:hover {
    background: #f2f0f0;
  }*/





