.flex {
  display: flex;
  background-color:white;
}
nav.flex.space-between.nav-height {
  box-shadow: 0 0px 8px 0px rgba(0,0,0,0.2);
}
.flex.space-between {
  justify-content: space-between;
}

.tabs-container > li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

a.tabs-color {
  color: black;
  text-transform: uppercase;
  font-size: small;
}

img.nav-height {
  height: 40px;
  margin: 5px;
}

.nav-height {
  height: 50px;
}

select.more {
  width: 70px;
  margin: 18px; 
}

.no-border {
  border: none;
}

.nav-adjust {
  align-self: center;
}
